<div class="row" style="text-align:center;padding-top:25%;"> 
  

  <div class="span4">
    
  </div>
  <div class="span4">
    <%= link_to image_tag("programacao.png") , programs_path %>
  </div>
  <div class="span4">   
    <%= link_to image_tag("hotel.png"), rooms_path %>
  </div>
</div>
