<div class="row" style="text-align:center;padding-top:25%;">  
  
  <%= form_tag do %>
    <p>
      <h1>E-mail</h1>
      <%= text_field_tag :email, params[:email] %>
      </p>
      <p>
        <h1>Senha</h1>      
      <%= text_field_tag :password, params[:password] %>
    </p>
    
    <p class="btn btn-info"><input type="submit" value="Submit"></p>
  <% end %> 

  <div class="form-actions" style="background-color: transparent">
    <%= link_to 'Inscrever', new_users_path, :class => 'btn btn-success'%>
  </div>
</div>