<% if loged_in? %>
  <div class="sidebar-left sidebar-nicescroller" tabindex="5000" style="overflow: hidden; outline: none;">
    <ul class="sidebar-menu">
      <li>
        <a href="/index">
          <i class="fa fa-home icon-sidebar"></i>
          Home
        </a>
      </li>
      <li>
        <a href="/courses">
          <i class="fa fa-laptop icon-sidebar"></i>
          Cursos
        </a>
      </li>
      <li>
        <a href="/lectures">
          <i class="fa fa-users icon-sidebar"></i>
          Palestras
        </a>
      </li>
      <li>
        <a href="/teches">
          <i class="fa fa-thumbs-o-up icon-sidebar"></i>
          Visitas Técnicas
        </a>
      </li>
      <li>
      <li>
        <a href="/extras">
          <i class="fa fa-gift icon-sidebar"></i>
          Produtos
        </a>
      </li>
      <li>
        <a href="/payment">
          <i class="fa fa-shopping-cart icon-sidebar"></i>
          Finalizar Compra
        </a>
      </li>
    </ul>
  </div>
<% end %>
